In [1]:
# This is the sincere effort of Subhodeep, kindly don't copy.

In [2]:
# Data analysis
import pandas as pd
import numpy as np

# Visualisation
import matplotlib.pyplot as plt

# ML tools
from sklearn.ensemble import RandomForestClassifier

In [3]:
#using pandas
#training data
train_ds = pd.read_csv('train.csv')

#testing data
test_ds = pd.read_csv('test.csv')

In [4]:
#combine the above two pandas object into a list to do certain operations on both of them together.
combined = [train_ds, test_ds]

In [5]:
train_ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test_ds.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
train_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [8]:
#INFERENCE
# Survived, Sex, Embarked are categorical data.
# Pclass is categorical too but has 3 classes.
# Rest are continuous data.

# Ticket and Cabin is a mix of letters and numbers.
# All passengers have name.
# All the values of the column Sex are filled.
# Age contains missing values and are of type float64.

#In train dataset
# Cabin, Age, Embarked are empty in some cases.

In [9]:
test_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
# In test dataset
# Cabin, Age are empty in some cases.
# we need to deal with the missing values.

In [11]:
train_ds.describe() #gives stats of dataset

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
# Need to fill-in the missing values of Age, Embarked.

# PassengerId, Name is not related to survival, so we'll be dropping them.
# We're dropping cabin feature because it contains high amount of missing data (only 204 out of 891 filled in training dataset),
# Also it's not directly related to survival.

In [13]:
#We need to create features.

#People with same Parch and SibSp must be of same family, so creating a new feature called Family.
#Titles of people can be a new Feature.
#Age range can be mapped into category.
#Same as Age, Fare range can be created.

In [14]:
#Women & Children were more likely to survive.
#Upper-class members survived more.

In [15]:
#Now time to confirm some of our assumptions.
#We choose only the categorical data.
#We choose on the basis of Pclass who survived and who did not.

In [16]:
train_ds[['Pclass', 'Survived']].groupby(['Pclass']).mean().sort_values(by='Survived', ascending=False)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [17]:
#Our assumption was right, Pclass = 1 survived the most.

In [18]:
train_ds[['Sex','Survived']].groupby(['Sex']).mean().sort_values(by='Survived', ascending=False)

        Survived
Sex
female  0.742038
male    0.188908

In [19]:
#Female survived the most.

In [20]:
train_ds[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='Survived', ascending = False)

       Survived
SibSp
1      0.535885
2      0.464286
0      0.345395
3      0.250000
4      0.166667
5      0.000000
8      0.000000

In [21]:
train_ds[['Parch','Survived']].groupby(['Parch']).mean().sort_values(by='Survived', ascending=False)

       Survived
Parch
3      0.600000
1      0.550847
2      0.500000
0      0.343658
5      0.200000
4      0.000000
6      0.000000

In [22]:
# SibSp Id = 1 & Parch = 3 survived the most.

In [23]:
#Enough of all the assumptions, now we actually pre-process the data.

In [24]:
# //Testing Codes here for new survivors by adding them to testing dataset

In [25]:
#Sequence -
#PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked

In [26]:
jack = [
    1310, #PassengerId
    3,  # Pclass: 3rd
    "Jack Dawson", #Name
    "male",  # Sex: male
    20.0,  # Age: 20
    0, #Jack had no siblings or spouses aboard (no SibSp)
    0, #He had no parent or children too (no Parch)
    np.nan, #ticket: no ticket
    0.0,  # Fare: 0; he won the ticket in gambling
    np.nan,  # Cabin: No
    "S" #Embarked: he boarded at Southampton
]

rose = [
    1311, #PassengerId
    1,  # Pclass: 1st class
    "Rose DeWitt Bukater", #Name
    "female",  # Sex: female
    17.0,  # Age: 17 yo
    1, #SibSp: 1 fiance
    1, #Parch: mother, father, 2 children #because she went with only mother and fiance
    np.nan, #ticket info not available
    512.329200,  # Fare: max expensive
    np.nan,#"B56",  # Cabin: as it's there on the internet.
    "S" #Embarked: she boarded at Southampton
]

#movie_chars = pd.DataFrame(columns=[test_ds.columns.values])
#movie_chars.loc[0] = jack
#movie_chars.loc[1] = rose
test_ds.loc[len(test_ds)] = jack
test_ds.loc[len(test_ds)] = rose

In [27]:
#movie_chars.info()

In [28]:
len(test_ds)

420

In [29]:
test_ds.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C
418,1310,3,Jack Dawson,male,20.0,0,0,NaN,0.0000,NaN,S
419,1311,1,Rose DeWitt Bukater,female,17.0,1,1,NaN,512.3292,NaN,S

In [30]:
#An idea of how the dataset looks before we drop some features.
print('Shape of datasets:',train_ds.shape,test_ds.shape)

Shape of datasets: (891, 12) (420, 11)

In [31]:
#dropping columns(Ticket and Cabin) in training and testing data.
train_ds = train_ds.drop(['Ticket','Cabin'], axis='columns')
test_ds = test_ds.drop(['Ticket','Cabin'], axis = 'columns')
#here instead of axis='columns'(axis= 1) could be used.
# Axis=1 here means it will affect all the rows for the specified columns.
# Axis=0 means it will affect all the columns for the specified rows.

In [32]:
combined = [train_ds, test_ds]
#this combined is the new list containing the modified train_ds and test_ds.

In [33]:
#Lets verify this.
print('Shape of datasets:', train_ds.shape, test_ds.shape)

Shape of datasets: (891, 10) (420, 9)

In [34]:
# At this point we may want to add a new feature namely 'Title', but we might use that if we don't get good accuracy.

In [35]:
#We are dropping columns(Name and PassengerId) similarly as above.

In [36]:
train_ds = train_ds.drop(['Name','PassengerId'],axis=1)
test_ds = test_ds.drop(['Name','PassengerId'],axis=1)
#we combine them into 'combined'
combined = [train_ds, test_ds]

In [37]:
print('Shape of datasets:', train_ds.shape, test_ds.shape)

Shape of datasets: (891, 8) (420, 7)

In [38]:
#Next up we will be mapping the column 'Sex' into numerical categorical feature.
#We will do this in both datasets in one go.
for ds in combined:
    ds['Sex'] = ds['Sex'].map({'male':0, 'female':1}).astype(int)

In [39]:
train_ds.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [40]:
test_ds.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0       3    0  34.5      0      0   7.8292        Q
1       3    1  47.0      1      0   7.0000        S
2       2    0  62.0      0      0   9.6875        Q
3       3    0  27.0      0      0   8.6625        S
4       3    1  22.0      1      1  12.2875        S

In [41]:
#We complete the missing Embarked features with the maximum occuring data.

In [42]:
mode = (train_ds.Embarked.dropna().mode())[0] #mode returns an object and we choose the first element hence 0

In [43]:
for ds in combined:
    ds['Embarked'] = ds['Embarked'].fillna(mode)

In [44]:
train_ds.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [45]:
# TASK HERE TO MAP EMBARKED TO VALUES----->

In [46]:
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
#using pandas it's simpler using pandas.get_dummies()

In [47]:
train_ds = pd.get_dummies(train_ds,columns=['Embarked'])
test_ds = pd.get_dummies(test_ds, columns=['Embarked'])
combined = [train_ds, test_ds]

In [48]:
combined[0].head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [49]:
combined[1].head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,0,34.5,0,0,7.8292,0,1,0
1,3,1,47.0,1,0,7.0000,0,0,1
2,2,0,62.0,0,0,9.6875,0,1,0
3,3,0,27.0,0,0,8.6625,0,0,1
4,3,1,22.0,1,1,12.2875,0,0,1

In [50]:
#To solve the missing age values(works for to fill in the column with numerical continuous features)
# We have 3 approaches listed below.

In [51]:
#1 Generating mean of the existing data and filling.
#2 Try to find correlation b/w Age,Sex,Pclass. Then we guess Age value using median for various combinations of Sex & Pclass (total 6 for 3 Pclass(es) and 2 Sex(es)).
#3 Combination of #1 and #2 i.e. predict a number b/w mean & s.d., using combinations from Sex & Pclass.

In [52]:
# We will choose #1 because it is a simpler approach.

In [53]:
train_ds['Age'].fillna(train_ds['Age'].dropna().mean() ,inplace=True)
test_ds['Age'].fillna(test_ds['Age'].dropna().mean() ,inplace=True)
combined= [train_ds, test_ds]

In [54]:
train_ds.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [55]:
test_ds.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,0,34.5,0,0,7.8292,0,1,0
1,3,1,47.0,1,0,7.0000,0,0,1
2,2,0,62.0,0,0,9.6875,0,1,0
3,3,0,27.0,0,0,8.6625,0,0,1
4,3,1,22.0,1,1,12.2875,0,0,1

In [56]:
# FILLING MISSING FARE VALUES

In [57]:
train_ds.count()

Survived      891
Pclass        891
Sex           891
Age           891
SibSp         891
Parch         891
Fare          891
Embarked_C    891
Embarked_Q    891
Embarked_S    891
dtype: int64

In [58]:
test_ds.count()

Pclass        420
Sex           420
Age           420
SibSp         420
Parch         420
Fare          419
Embarked_C    420
Embarked_Q    420
Embarked_S    420
dtype: int64

In [59]:
#Fare in train_ds is complete, we just need to fill in the test_ds.

In [60]:
test_ds['Fare'].fillna(test_ds['Fare'].dropna().median() ,inplace= True)

In [61]:
test_ds.count()

Pclass        420
Sex           420
Age           420
SibSp         420
Parch         420
Fare          420
Embarked_C    420
Embarked_Q    420
Embarked_S    420
dtype: int64

In [62]:
test_ds.tail()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
415,3,0,38.500000,0,0,7.2500,0,0,1
416,3,0,30.202096,0,0,8.0500,0,0,1
417,3,0,30.202096,1,1,22.3583,1,0,0
418,3,0,20.000000,0,0,0.0000,0,0,1
419,1,1,17.000000,1,1,512.3292,0,0,1

In [63]:
train_ds.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [64]:
x = train_ds.iloc[:,1:] #All categories except survived (Training Features)
y = train_ds.iloc[:,0] #The survived category (Training Labels)

In [65]:
x.shape

(891, 9)

In [66]:
y.shape

(891,)

In [67]:
from sklearn.cross_validation import train_test_split

c:\users\subhodeep guin\appdata\local\programs\python\python36\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
#This makes sure there is 80% training data and 20% testing data from the total existing training data.

In [69]:
x_train.shape

(712, 9)

In [70]:
x_test.shape

(179, 9)

In [71]:
y_train.shape

(712,)

In [72]:
y_test.shape

(179,)

In [73]:
#Initial testing on a small level using RandomForestClassifier.
from sklearn.ensemble import RandomForestClassifier

In [74]:
rf = RandomForestClassifier(n_estimators=100)

In [75]:
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [76]:
rf.score(x_test, y_test)

0.8100558659217877

In [77]:
#Fairly a good start because the accuracy lies between somewhat 80~83%.

In [78]:
#Let's try with Decision Tree

In [79]:
from sklearn.tree import DecisionTreeClassifier

In [80]:
dt = DecisionTreeClassifier(max_leaf_nodes = 50)
dt.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=50,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [81]:
dt.score(x_test, y_test)

0.8212290502793296

In [82]:
#similar results as above(80~83%).

In [83]:
#Creating a Neural Network for the above problem

In [84]:
#x_train = np.array(x_train)

In [85]:
#y_train = np.array(y_train).T # For transposing

In [86]:
#Create a Neural Network model

In [87]:
from keras.models import Sequential

Using TensorFlow backend.

In [88]:
model = Sequential()

In [89]:
from keras.layers import Dense, Activation

In [90]:
x_train.shape[0] #This is the number of columns of our dataset.

712

In [91]:
x_train.shape

(712, 9)

In [92]:
#creating input layer and add only one hidden layer
model.add(Dense(x_train.shape[1], init='uniform', input_dim= x_train.shape[1], activation='relu'))
#input_dim is the number of features in input layer
#just after dense(x,...), x is the number of features in the first hidden layer

c:\users\subhodeep guin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(9, input_dim=9, activation="relu", kernel_initializer="uniform")`

In [93]:
#adding second hidden layer
model.add(Dense(x_train.shape[1], init='uniform', input_dim=x_train.shape[1], activation='relu'))

c:\users\subhodeep guin\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(9, input_dim=9, activation="relu", kernel_initializer="uniform")`

In [94]:
#creating output layer
model.add(Dense(1, activation='sigmoid'))

In [95]:
# compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [96]:
#train model
model.fit(x_train, y_train, epochs=100, batch_size=8)

Epoch 1/100
712/712 [==============================] - 0s 570us/step - loss: 0.6502 - acc: 0.6531
Epoch 2/100
712/712 [==============================] - 0s 178us/step - loss: 0.6145 - acc: 0.6699
Epoch 3/100
712/712 [==============================] - 0s 174us/step - loss: 0.6058 - acc: 0.6699
Epoch 4/100
712/712 [==============================] - 0s 188us/step - loss: 0.5949 - acc: 0.6966
Epoch 5/100
712/712 [==============================] - 0s 185us/step - loss: 0.5811 - acc: 0.7008
Epoch 6/100
712/712 [==============================] - 0s 174us/step - loss: 0.5646 - acc: 0.7093
Epoch 7/100
712/712 [==============================] - 0s 186us/step - loss: 0.5473 - acc: 0.7219
Epoch 8/100
712/712 [==============================] - 0s 282us/step - loss: 0.5273 - acc: 0.7402
Epoch 9/100
712/712 [==============================] - 0s 205us/step - loss: 0.5148 - acc: 0.7570
Epoch 10/100
712/712 [==============================] - 0s 216us/step - loss: 0.4980 - acc: 0.7809
Epoch 11/100
712/712 [==============================] - 0s 183us/step - loss: 0.4918 - acc: 0.7640
Epoch 12/100
712/712 [==============================] - 0s 182us/step - loss: 0.4766 - acc: 0.7907
Epoch 13/100
712/712 [==============================] - 0s 178us/step - loss: 0.4739 - acc: 0.7781
Epoch 14/100
712/712 [==============================] - 0s 167us/step - loss: 0.4888 - acc: 0.7781
Epoch 15/100
712/712 [==============================] - 0s 183us/step - loss: 0.4737 - acc: 0.7935
Epoch 16/100
712/712 [==============================] - 0s 198us/step - loss: 0.4683 - acc: 0.7921
Epoch 17/100
712/712 [==============================] - 0s 329us/step - loss: 0.4582 - acc: 0.7851
Epoch 18/100
712/712 [==============================] - 0s 237us/step - loss: 0.4693 - acc: 0.8020
Epoch 19/100
712/712 [==============================] - 0s 212us/step - loss: 0.4687 - acc: 0.7963
Epoch 20/100
712/712 [==============================] - 0s 179us/step - loss: 0.4634 - acc: 0.7963
Epoch 21/100
712/712 [==============================] - 0s 188us/step - loss: 0.4635 - acc: 0.7935
Epoch 22/100
712/712 [==============================] - 0s 185us/step - loss: 0.4558 - acc: 0.7978
Epoch 23/100
712/712 [==============================] - 0s 175us/step - loss: 0.4595 - acc: 0.7978
Epoch 24/100
712/712 [==============================] - 0s 171us/step - loss: 0.4512 - acc: 0.8006
Epoch 25/100
712/712 [==============================] - 0s 179us/step - loss: 0.4549 - acc: 0.7992
Epoch 26/100
712/712 [==============================] - 0s 228us/step - loss: 0.4571 - acc: 0.7935
Epoch 27/100
712/712 [==============================] - 0s 163us/step - loss: 0.4551 - acc: 0.8006
Epoch 28/100
712/712 [==============================] - 0s 172us/step - loss: 0.4490 - acc: 0.7963
Epoch 29/100
712/712 [==============================] - 0s 200us/step - loss: 0.4520 - acc: 0.7992
Epoch 30/100
712/712 [==============================] - 0s 200us/step - loss: 0.4420 - acc: 0.8090
Epoch 31/100
712/712 [==============================] - 0s 217us/step - loss: 0.4544 - acc: 0.8090
Epoch 32/100
712/712 [==============================] - 0s 213us/step - loss: 0.4502 - acc: 0.7963
Epoch 33/100
712/712 [==============================] - 0s 210us/step - loss: 0.4468 - acc: 0.8020
Epoch 34/100
712/712 [==============================] - 0s 251us/step - loss: 0.4553 - acc: 0.7992
Epoch 35/100
712/712 [==============================] - 0s 191us/step - loss: 0.4440 - acc: 0.7935
Epoch 36/100
712/712 [==============================] - 0s 188us/step - loss: 0.4448 - acc: 0.8062
Epoch 37/100
712/712 [==============================] - 0s 188us/step - loss: 0.4505 - acc: 0.7879
Epoch 38/100
712/712 [==============================] - 0s 206us/step - loss: 0.4459 - acc: 0.8076
Epoch 39/100
712/712 [==============================] - 0s 172us/step - loss: 0.4475 - acc: 0.8062
Epoch 40/100
712/712 [==============================] - 0s 162us/step - loss: 0.4434 - acc: 0.8006
Epoch 41/100
712/712 [==============================] - 0s 178us/step - loss: 0.4458 - acc: 0.8090
Epoch 42/100
712/712 [==============================] - 0s 224us/step - loss: 0.4437 - acc: 0.8076
Epoch 43/100
712/712 [==============================] - 0s 273us/step - loss: 0.4433 - acc: 0.7992
Epoch 44/100
712/712 [==============================] - 0s 203us/step - loss: 0.4405 - acc: 0.8034
Epoch 45/100
712/712 [==============================] - 0s 244us/step - loss: 0.4391 - acc: 0.8076
Epoch 46/100
712/712 [==============================] - 0s 203us/step - loss: 0.4349 - acc: 0.8048
Epoch 47/100
712/712 [==============================] - 0s 186us/step - loss: 0.4356 - acc: 0.8034
Epoch 48/100
712/712 [==============================] - 0s 213us/step - loss: 0.4372 - acc: 0.8104
Epoch 49/100
712/712 [==============================] - 0s 199us/step - loss: 0.4354 - acc: 0.8048
Epoch 50/100
712/712 [==============================] - 0s 237us/step - loss: 0.4490 - acc: 0.8020
Epoch 51/100
712/712 [==============================] - 0s 175us/step - loss: 0.4354 - acc: 0.8076
Epoch 52/100
712/712 [==============================] - 0s 181us/step - loss: 0.4422 - acc: 0.8048
Epoch 53/100
712/712 [==============================] - 0s 182us/step - loss: 0.4381 - acc: 0.7992
Epoch 54/100
712/712 [==============================] - 0s 175us/step - loss: 0.4344 - acc: 0.8076
Epoch 55/100
712/712 [==============================] - 0s 213us/step - loss: 0.4317 - acc: 0.8076
Epoch 56/100
712/712 [==============================] - 0s 185us/step - loss: 0.4340 - acc: 0.8160
Epoch 57/100
712/712 [==============================] - 0s 186us/step - loss: 0.4406 - acc: 0.7992
Epoch 58/100
712/712 [==============================] - 0s 178us/step - loss: 0.4377 - acc: 0.8062
Epoch 59/100
712/712 [==============================] - 0s 171us/step - loss: 0.4383 - acc: 0.8062
Epoch 60/100
712/712 [==============================] - 0s 172us/step - loss: 0.4363 - acc: 0.7992
Epoch 61/100
712/712 [==============================] - 0s 178us/step - loss: 0.4384 - acc: 0.8020
Epoch 62/100
712/712 [==============================] - 0s 198us/step - loss: 0.4419 - acc: 0.7978
Epoch 63/100
712/712 [==============================] - 0s 184us/step - loss: 0.4330 - acc: 0.8076
Epoch 64/100
712/712 [==============================] - 0s 171us/step - loss: 0.4318 - acc: 0.8062
Epoch 65/100
712/712 [==============================] - 0s 179us/step - loss: 0.4308 - acc: 0.8104
Epoch 66/100
712/712 [==============================] - 0s 174us/step - loss: 0.4259 - acc: 0.8202
Epoch 67/100
712/712 [==============================] - 0s 178us/step - loss: 0.4303 - acc: 0.8132
Epoch 68/100
712/712 [==============================] - 0s 164us/step - loss: 0.4352 - acc: 0.8132
Epoch 69/100
712/712 [==============================] - 0s 164us/step - loss: 0.4307 - acc: 0.8174
Epoch 70/100
712/712 [==============================] - 0s 196us/step - loss: 0.4356 - acc: 0.8090
Epoch 71/100
712/712 [==============================] - 0s 193us/step - loss: 0.4314 - acc: 0.8202
Epoch 72/100
712/712 [==============================] - 0s 199us/step - loss: 0.4326 - acc: 0.8020
Epoch 73/100
712/712 [==============================] - 0s 160us/step - loss: 0.4295 - acc: 0.8020
Epoch 74/100
712/712 [==============================] - 0s 164us/step - loss: 0.4248 - acc: 0.8160
Epoch 75/100
712/712 [==============================] - 0s 167us/step - loss: 0.4338 - acc: 0.8104
Epoch 76/100
712/712 [==============================] - 0s 176us/step - loss: 0.4303 - acc: 0.8160
Epoch 77/100
712/712 [==============================] - 0s 162us/step - loss: 0.4291 - acc: 0.8034
Epoch 78/100
712/712 [==============================] - 0s 172us/step - loss: 0.4217 - acc: 0.8090
Epoch 79/100
712/712 [==============================] - 0s 175us/step - loss: 0.4326 - acc: 0.8062
Epoch 80/100
712/712 [==============================] - 0s 174us/step - loss: 0.4255 - acc: 0.8090
Epoch 81/100
712/712 [==============================] - 0s 168us/step - loss: 0.4297 - acc: 0.8062
Epoch 82/100
712/712 [==============================] - 0s 189us/step - loss: 0.4242 - acc: 0.8076
Epoch 83/100

712/712 [==============================] - 0s 193us/step - loss: 0.4251 - acc: 0.8062
Epoch 84/100
712/712 [==============================] - 0s 167us/step - loss: 0.4258 - acc: 0.8174
Epoch 85/100
712/712 [==============================] - 0s 165us/step - loss: 0.4249 - acc: 0.8062
Epoch 86/100
712/712 [==============================] - 0s 179us/step - loss: 0.4322 - acc: 0.8062
Epoch 87/100
712/712 [==============================] - 0s 164us/step - loss: 0.4288 - acc: 0.8062
Epoch 88/100
712/712 [==============================] - 0s 168us/step - loss: 0.4387 - acc: 0.7978
Epoch 89/100
712/712 [==============================] - 0s 174us/step - loss: 0.4271 - acc: 0.8160
Epoch 90/100
712/712 [==============================] - 0s 168us/step - loss: 0.4257 - acc: 0.8146
Epoch 91/100
712/712 [==============================] - 0s 172us/step - loss: 0.4221 - acc: 0.8202
Epoch 92/100
712/712 [==============================] - 0s 185us/step - loss: 0.4285 - acc: 0.8118
Epoch 93/100
712/712 [==============================] - 0s 188us/step - loss: 0.4211 - acc: 0.8160
Epoch 94/100
712/712 [==============================] - 0s 171us/step - loss: 0.4256 - acc: 0.8174
Epoch 95/100
712/712 [==============================] - 0s 174us/step - loss: 0.4271 - acc: 0.8174
Epoch 96/100
712/712 [==============================] - 0s 164us/step - loss: 0.4220 - acc: 0.8034
Epoch 97/100
712/712 [==============================] - 0s 161us/step - loss: 0.4285 - acc: 0.8062
Epoch 98/100
712/712 [==============================] - 0s 160us/step - loss: 0.4303 - acc: 0.8160
Epoch 99/100
712/712 [==============================] - 0s 198us/step - loss: 0.4278 - acc: 0.7978
Epoch 100/100
712/712 [==============================] - 0s 155us/step - loss: 0.4226 - acc: 0.8090

In [97]:
#Accuracy of training data.
model.evaluate(x_train, y_train)[1]

712/712 [==============================] - 0s 74us/step

0.8132022471910112

In [98]:
model.predict(x_test)

array([[0.1009783 ],
       [0.11709563],
       [0.17685448],
       [0.838714  ],
       [0.589128  ],
       [0.95676005],
       [0.6330187 ],
       [0.15309244],
       [0.6493967 ],
       [0.94931257],
       [0.1923908 ],
       [0.04386481],
       [0.20224531],
       [0.11632127],
       [0.08949199],
       [0.96721953],
       [0.15689178],
       [0.6335866 ],
       [0.14952378],
       [0.17437735],
       [0.14239967],
       [0.1940254 ],
       [0.43718463],
       [0.17823756],
       [0.10772078],
       [0.18643819],
       [0.24612387],
       [0.11954025],
       [0.2521649 ],
       [0.4771336 ],
       [0.18638876],
       [0.5059739 ],
       [0.30050418],
       [0.48272502],
       [0.19652534],
       [0.11570263],
       [0.2749161 ],
       [0.6330187 ],
       [0.9822505 ],
       [0.10318229],
       [0.29800588],
       [0.08507084],
       [0.10328629],
       [0.1080185 ],
       [0.50491077],
       [0.21527949],
       [0.18667898],
       [0.15168512],
       [0.14164874],
       [0.30567497],
       [0.4757117 ],
       [0.9224443 ],
       [0.05365084],
       [0.5087817 ],
       [0.01770347],
       [0.890556  ],
       [0.110603  ],
       [0.7727617 ],
       [0.8451444 ],
       [0.64675045],
       [0.16752517],
       [0.8306397 ],
       [0.7997042 ],
       [0.2257552 ],
       [0.1080185 ],
       [0.7787594 ],
       [0.38917145],
       [0.1074071 ],
       [0.1935099 ],
       [0.96905017],
       [0.75623006],
       [0.7108182 ],
       [0.33557084],
       [0.96474296],
       [0.15040435],
       [0.05930119],
       [0.6320511 ],
       [0.97238636],
       [0.8075854 ],
       [0.33263564],
       [0.11498316],
       [0.8028142 ],
       [0.87732756],
       [0.10800973],
       [0.19644763],
       [0.15847185],
       [0.9223223 ],
       [0.985776  ],
       [0.1898134 ],
       [0.10274769],
       [0.33020958],
       [0.22608653],
       [0.12295375],
       [0.10800391],
       [0.10318229],
       [0.11372082],
       [0.121745  ],
       [0.04124296],
       [0.8091955 ],
       [0.12040379],
       [0.11677227],
       [0.07521631],
       [0.9282434 ],
       [0.0628054 ],
       [0.09860823],
       [0.10788132],
       [0.7042849 ],
       [0.1536736 ],
       [0.10247383],
       [0.24651067],
       [0.9620374 ],
       [0.17151767],
       [0.9591235 ],
       [0.18039508],
       [0.47584555],
       [0.17890103],
       [0.15721746],
       [0.10649765],
       [0.76702565],
       [0.20045932],
       [0.12065262],
       [0.9781691 ],
       [0.93185663],
       [0.4939545 ],
       [0.13417053],
       [0.26324806],
       [0.95742375],
       [0.48457226],
       [0.52276164],
       [0.16780484],
       [0.6339449 ],
       [0.1009783 ],
       [0.11784564],
       [0.57674354],
       [0.16409858],
       [0.5832236 ],
       [0.93179566],
       [0.10733727],
       [0.04942134],
       [0.44223285],
       [0.16819516],
       [0.7535936 ],
       [0.14149189],
       [0.07830175],
       [0.33691067],
       [0.7277611 ],
       [0.12650962],
       [0.03253095],
       [0.84215194],
       [0.04664525],
       [0.1194623 ],
       [0.14204413],
       [0.19623306],
       [0.56619287],
       [0.10328629],
       [0.10261341],
       [0.20290753],
       [0.63328767],
       [0.77750045],
       [0.49075925],
       [0.16668597],
       [0.22784087],
       [0.07490394],
       [0.9667163 ],
       [0.10851675],
       [0.14705898],
       [0.18164194],
       [0.9620494 ],
       [0.1588567 ],
       [0.07517831],
       [0.44510362],
       [0.7664908 ],
       [0.18040445],
       [0.5475747 ],
       [0.2057848 ],
       [0.11832696],
       [0.16603433],
       [0.8125014 ],
       [0.457449  ]], dtype=float32)

In [99]:
#Accuracy of testing data.
model.evaluate(x_test, y_test)[1]

179/179 [==============================] - 0s 39us/step

0.815642459432506

In [100]:
#A fair accuracy of about 83.24% with 2 Hidden layer NN.
# Accuracy can be further increased with normalisation.

In [101]:
# Testing for Rose and Jack

In [104]:
result = model.predict(test_ds)

In [106]:
result

array([[0.0816902 ],
       [0.3238597 ],
       [0.06048454],
       [0.12099668],
       [0.3743233 ],
       [0.24193297],
       [0.6317881 ],
       [0.15092899],
       [0.66125095],
       [0.12051179],
       [0.10022454],
       [0.15501188],
       [0.9377125 ],
       [0.0231351 ],
       [0.9489363 ],
       [0.8902042 ],
       [0.10228308],
       [0.19024742],
       [0.40218332],
       [0.57995176],
       [0.14986612],
       [0.2996373 ],
       [0.96733767],
       [0.45359254],
       [0.7082193 ],
       [0.02477506],
       [0.96948045],
       [0.17581552],
       [0.1677052 ],
       [0.08024189],
       [0.03776431],
       [0.13592882],
       [0.28619665],
       [0.29709095],
       [0.3278189 ],
       [0.21628535],
       [0.48033452],
       [0.51402646],
       [0.13608639],
       [0.19770205],
       [0.07265426],
       [0.2236807 ],
       [0.0526435 ],
       [0.81396395],
       [0.9514872 ],
       [0.13474289],
       [0.22985707],
       [0.10493834],
       [0.97778416],
       [0.35250494],
       [0.33446124],
       [0.18176104],
       [0.6835554 ],
       [0.66218466],
       [0.1543382 ],
       [0.15719052],
       [0.0756079 ],
       [0.13450946],
       [0.08418694],
       [0.7956    ],
       [0.20670423],
       [0.11386122],
       [0.19618042],
       [0.64208657],
       [0.54639924],
       [0.84837997],
       [0.647937  ],
       [0.1539962 ],
       [0.27938196],
       [0.64060915],
       [0.6398721 ],
       [0.16764797],
       [0.48541   ],
       [0.30053115],
       [0.80064905],
       [0.47735283],
       [0.1003259 ],
       [0.91272   ],
       [0.12650962],
       [0.6398721 ],
       [0.3405424 ],
       [0.35004723],
       [0.1479954 ],
       [0.10022454],
       [0.12841211],
       [0.09622506],
       [0.6371943 ],
       [0.51782787],
       [0.6324113 ],
       [0.4278183 ],
       [0.42375693],
       [0.10014519],
       [0.9373871 ],
       [0.1003259 ],
       [0.32918027],
       [0.13463317],
       [0.916586  ],
       [0.10744202],
       [0.5116243 ],
       [0.08519945],
       [0.9746295 ],
       [0.13949111],
       [0.10493834],
       [0.12729153],
       [0.5158063 ],
       [0.12959003],
       [0.17499088],
       [0.10493834],
       [0.1007624 ],
       [0.2334137 ],
       [0.08706999],
       [0.6326208 ],
       [0.9820716 ],
       [0.643132  ],
       [0.75344   ],
       [0.18931983],
       [0.11440809],
       [0.4947789 ],
       [0.4112508 ],
       [0.7970221 ],
       [0.83949065],
       [0.08352905],
       [0.9776044 ],
       [0.11327788],
       [0.10493834],
       [0.48578718],
       [0.15875937],
       [0.44794142],
       [0.06253057],
       [0.14253695],
       [0.0903523 ],
       [0.20498034],
       [0.28759277],
       [0.09126379],
       [0.04659531],
       [0.14236267],
       [0.14155418],
       [0.15792765],
       [0.5057542 ],
       [0.06291494],
       [0.20241563],
       [0.83682704],
       [0.3248117 ],
       [0.17426696],
       [0.16483489],
       [0.05079035],
       [0.31807178],
       [0.15900688],
       [0.2236807 ],
       [0.11477727],
       [0.9453793 ],
       [0.11548906],
       [0.01634685],
       [0.35196605],
       [0.13092104],
       [0.14209227],
       [0.7792735 ],
       [0.50424284],
       [0.16483489],
       [0.39473975],
       [0.63229144],
       [0.32623827],
       [0.8193876 ],
       [0.09963747],
       [0.06642698],
       [0.3588608 ],
       [0.2226148 ],
       [0.15586895],
       [0.9797331 ],
       [0.5139387 ],
       [0.09999753],
       [0.13768806],
       [0.12573583],
       [0.11499385],
       [0.05575806],
       [0.80399036],
       [0.8766552 ],
       [0.151875  ],
       [0.69682705],
       [0.95811856],
       [0.12650962],
       [0.33856747],
       [0.9645162 ],
       [0.10493834],
       [0.75838786],
       [0.07438242],
       [0.8313052 ],
       [0.13617656],
       [0.04208479],
       [0.07054789],
       [0.09348467],
       [0.22186852],
       [0.23519197],
       [0.05959502],
       [0.44334936],
       [0.08508832],
       [0.5768847 ],
       [0.5161582 ],
       [0.18164194],
       [0.48029715],
       [0.6786849 ],
       [0.40882435],
       [0.4135188 ],
       [0.80721545],
       [0.16328268],
       [0.2804233 ],
       [0.6265954 ],
       [0.17226872],
       [0.97949135],
       [0.13471809],
       [0.10311908],
       [0.09967016],
       [0.428952  ],
       [0.700839  ],
       [0.17001086],
       [0.18255997],
       [0.63333815],
       [0.3084461 ],
       [0.7571731 ],
       [0.1003259 ],
       [0.86516154],
       [0.16780484],
       [0.80851024],
       [0.16754632],
       [0.9774164 ],
       [0.49466282],
       [0.15035   ],
       [0.6324113 ],
       [0.05704796],
       [0.08949199],
       [0.4451519 ],
       [0.96365386],
       [0.13419032],
       [0.10502681],
       [0.29185072],
       [0.17677937],
       [0.13131878],
       [0.20036206],
       [0.75109583],
       [0.9645311 ],
       [0.97748953],
       [0.72897947],
       [0.37735575],
       [0.1002191 ],
       [0.09091356],
       [0.16146316],
       [0.8537823 ],
       [0.0632951 ],
       [0.7970221 ],
       [0.52067316],
       [0.75275594],
       [0.17685448],
       [0.44282988],
       [0.14367612],
       [0.08859105],
       [0.09999753],
       [0.10493834],
       [0.11386468],
       [0.82246625],
       [0.16752517],
       [0.05826625],
       [0.1676057 ],
       [0.7812151 ],
       [0.4733262 ],
       [0.14906326],
       [0.10022454],
       [0.21210036],
       [0.09999753],
       [0.48033452],
       [0.20762171],
       [0.31679145],
       [0.10493834],
       [0.84769565],
       [0.5692118 ],
       [0.11499075],
       [0.8202045 ],
       [0.13858233],
       [0.06540677],
       [0.10827681],
       [0.19140725],
       [0.5099552 ],
       [0.35927176],
       [0.6324113 ],
       [0.5475747 ],
       [0.49771675],
       [0.0709194 ],
       [0.099801  ],
       [0.3800896 ],
       [0.11499385],
       [0.1003259 ],
       [0.26972806],
       [0.6268959 ],
       [0.11499385],
       [0.14826149],
       [0.07200718],
       [0.12738936],
       [0.7036138 ],
       [0.08024189],
       [0.29438892],
       [0.10739256],
       [0.09018775],
       [0.15301864],
       [0.06602234],
       [0.14308323],
       [0.6324113 ],
       [0.91954386],
       [0.38748118],
       [0.39587379],
       [0.1650117 ],
       [0.32612643],
       [0.19723098],
       [0.18052809],
       [0.10001394],
       [0.6241602 ],
       [0.95626676],
       [0.64809483],
       [0.35107857],
       [0.22308457],
       [0.12037171],
       [0.15183268],
       [0.12729153],
       [0.15370217],
       [0.15792765],
       [0.20153269],
       [0.7774843 ],
       [0.14965713],
       [0.70374477],
       [0.33331487],
       [0.12468993],
       [0.20576149],
       [0.7157201 ],
       [0.24975134],
       [0.11499075],
       [0.5023065 ],
       [0.12040379],
       [0.22352389],
       [0.11290519],
       [0.0706759 ],
       [0.22145092],
       [0.11499385],
       [0.2344396 ],
       [0.09007077],
       [0.14852263],
       [0.7548535 ],
       [0.08447164],
       [0.5204116 ],
       [0.15792765],
       [0.6080663 ],
       [0.17726426],
       [0.8478457 ],
       [0.97767943],
       [0.16328268],
       [0.4188989 ],
       [0.07188044],
       [0.51923144],
       [0.14571568],
       [0.90690506],
       [0.10021359],
       [0.10493834],
       [0.3889107 ],
       [0.06188434],
       [0.8563114 ],
       [0.8478457 ],
       [0.12099668],
       [0.9800188 ],
       [0.2426261 ],
       [0.09622767],
       [0.5181067 ],
       [0.97788507],
       [0.16029486],
       [0.16505986],
       [0.87837   ],
       [0.16149072],
       [0.05585133],
       [0.9220507 ],
       [0.7929    ],
       [0.362891  ],
       [0.20274338],
       [0.136539  ],
       [0.20135035],
       [0.10493834],
       [0.13330036],
       [0.47681764],
       [0.43748343],
       [0.12481377],
       [0.681042  ],
       [0.1422922 ],
       [0.03637071],
       [0.17491643],
       [0.21739502],
       [0.4555313 ],
       [0.9565256 ],
       [0.2755342 ],
       [0.04865748],
       [0.05983238],
       [0.9588929 ],
       [0.14830838],
       [0.96168023],
       [0.15873909],
       [0.10020014],
       [0.8160988 ],
       [0.06752372],
       [0.9717642 ],
       [0.43661782],
       [0.17690998],
       [0.254559  ],
       [0.14715654],
       [0.3842371 ],
       [0.6322017 ],
       [0.45833817],
       [0.6324113 ],
       [0.97668284],
       [0.4896622 ],
       [0.1003259 ],
       [0.95836556],
       [0.06102083],
       [0.1003259 ],
       [0.1027573 ],
       [0.16860478],
       [0.5768847 ]], dtype=float32)

In [107]:
len(result)

420

In [116]:
jack_chances = result[len(result)-2][0]*100

In [117]:
jack_chances

16.8604776263237

In [118]:
rose_chances = result[len(result)-1][0]*100

In [119]:
rose_chances

57.68846869468689